POSTGRES_USER=admin
POSTGRES_PASSWORD=CHANGE_ME
POSTGRES_DB=crapi

MONGO_USER=admin
MONGO_PASSWORD=CHANGE_ME

JWT_SECRET=CHANGE_ME
APP_SECRET_KEY=CHANGE_ME

CHATBOT_API_USER=CHANGE_ME
CHATBOT_API_PASSWORD=CHANGE_ME